<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:fragment="head">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title th:text="${metaTitle} ? ${metaTitle} : 'default title'"></title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navigation">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" th:href="@{/}">Start Bootstrap</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form method="get" name="frm-search" id="frm-search" action="#" th:action="@{/search}" class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <input type="text" class="form-control" id="search" name="q" />
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                    <form class="d-flex">
                        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">+ Add Product</button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->

        <!-- Footer-->
        <div th:fragment="footer">

            <!-- modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form method="post" name="frm" id="frm" action="#" th:action="@{/}" th:object="${productObject}" enctype="multipart/form-data">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="sku" class="form-label">SKU</label>
                                    <input type="text" class="form-control" id="sku" th:field="*{sku}">
                                </div>
                                <div class="mb-3">
                                    <label for="name" class="form-label">Product name</label>
                                    <input type="text" class="form-control" id="name" th:field="*{name}">
                                </div>
                                <div class="mb-3">
                                    <label for="desc" class="form-label">Product description</label>
                                    <textarea class="form-control" id="desc" th:field="*{description}" rows="3"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="image" class="form-label">Product image</label>
                                    <input class="form-control" type="file" id="image" name="file" accept="image/png, image/jpeg">
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="price" class="form-label">Regular price</label>
                                            <input type="number" class="form-control" id="price" th:field="*{price}">
                                        </div>
                                        <div class="col">
                                            <label for="saleprice" class="form-label">Sale price</label>
                                            <input type="number" class="form-control" id="saleprice" th:field="*{salePrice}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <footer class="py-5 bg-dark">
                <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
            </footer>
            <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
            <script th:src="@{/js/scripts.js}"></script>
        </div>
    </body>
</html>